<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h1>{{ book.metaData['title'] }}</h1>
<i><b>Author</b></i>: {{ book.metaData['author'] }}
<br/>
<i><b>Release Date</b></i>: {{ book.metaData['releaseDate'] }}
<br/>
<i><b>Language</b></i>: {{ book.metaData['language'] }}
<br/>
<a href="https://storage.googleapis.com{{ book.metaData['fileLocation'] }}">Full Text</a>

<br/>
<br/>
Words:
<br/>
{% for tempWord in book.words %}
    <li><a href="{{ tempWord.href }}&bookId={{ bookId }}">{{ tempWord.text }}</a> - {{ tempWord.count }}
        <i style="font-size: 10px">
        {% for tempReference in tempWord.references %}
        ({{ tempReference.wordNumber }}, {{ tempReference.lineNumber }}:{{ tempReference.wordNumberInLine }}),
        {% endfor %}
        </i>
    </li>
{% endfor %}

</body>
</html>