<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h1>{{ book.metaData['title'] }}</h1>
<i><b>Author</b></i>: {{ book.metaData['author'] }}
<br/>
<i><b>Release Date</b></i>: {{ book.metaData['releaseDate'] }}
<br/>
<i><b>Language</b></i>: {{ book.metaData['language'] }}
<br/>
<a href="https://storage.googleapis.com{{ book.metaData['fileLocation'] }}">Full Text</a>
<br/>
<br/>

<h3>Search</h3>
<form action="/searchWordInBook">
    word number: <input type="text" name="wordNumber"><br/>
    line number: <input type="text" name="lineNumber"> word in line: <input type="text" name="wordInLine"><br/>
    <input type="hidden" name="bookId" value="{{ bookId }}">
    <input type="submit" value="search">
</form>

<br/>
<h3>Words</h3>
{% for tempWord in book.words %}
    <li><a href="{{ tempWord.href }}&bookId={{ bookId }}">{{ tempWord.text }}</a> - {{ tempWord.count }}
        <i style="font-size: 10px">
        {% for tempReference in tempWord.references %}
        ({{ tempReference.wordNumber }}, {{ tempReference.lineNumber }}:{{ tempReference.wordNumberInLine }}),
        {% endfor %}
        </i>
    </li>
{% endfor %}

</body>
</html>