<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sadna DB - Tal Pais</title>
    <style>
        * {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
    </style>
</head>
<body>


<h1>Word Group - {{ group.groupName }}</h1>

{{ group.date }}

<br/>
<br/>
<form action="addWordToGroup">
    <input type="text" name="word" placeholder="Add new word">
    <input type="submit" value="add">
    <input type="hidden" name="groupId" value="{{ group.groupId }}">
</form>


<h3>Words</h3>


{% for temp in group.words %}
<li>
    <a href="/word?id={{ temp[0] }}">{{ temp[1] }}</a> <a href="/removeWordFromGroup?groupId={{ group.groupId }}&wordId={{ temp[0] }}" style="font-size: 8px">remove</a>
</li>
{% endfor %}


<h3>Locations in books</h3>
{% for tempBook in group.books %}
<li>
    <a href="/book?id={{ group.books[tempBook]['id'] }}">{{ group.books[tempBook]['title'] }}</a>
    <ul>
    {% for tempWord in group.books[tempBook]['words'] %}

    <li>
        <a href="/word?id={{ tempWord }}&bookId={{ tempBook }}">{{ group.books[tempBook]['words'][tempWord]['word'] }}</a> - {{ group.books[tempBook]['words'][tempWord]['count'] }}
        <i style="font-size: 10px">
        {% for tempReference in group.books[tempBook]['words'][tempWord]['locations'] %}
        ({{ tempReference.wn }}, {{ tempReference.ln }}:{{ tempReference.wnil }}),
        {% endfor %}
        </i>
    </li>
    {% endfor %}
    </ul>
</li>
{% endfor %}

</body>
</html>