<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sadna DB - Tal Pais</title>
    <style>
        * {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
    </style>
</head>
<body>


<h1>Word Group - {{ group.groupName }}</h1>

{{ group.date }}

<br/>
<br/>
<form action="addWordToGroup">
    <input type="text" name="word" placeholder="Add new word">
    <input type="submit" value="add">
    <input type="hidden" name="groupId" value="{{ group.groupId }}">
</form>


<h3>Words</h3>


{% for temp in group.words %}
    <li>
        <a href="/word?id={{ temp[0] }}">{{ temp[1] }}</a>
    </li>
{% endfor %}


</body>
</html>