<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sadna DB - Tal Pais</title>
    <style>
        * {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
    </style>
</head>
<body>

<h1>Add new Book</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <br/>
    <input type="submit" value="upload text">
</form>

<br/>
<h1>Last books</h1>

<table>
    <tr>
        <td>Name</td>
        <td>Author</td>
        <td>Release Date</td>
        <td>Language</td>
    </tr>
{% for tempBook in lastBooks %}
    <tr>
        <td><a href="/book?id={{ tempBook[0] }}">{{ tempBook[1] }}</a></td>
        <td>{{ tempBook[2] }}</td>
        <td>{{ tempBook[3] }}</td>
        <td>{{ tempBook[4] }}</td>
    </tr>
{% endfor %}
</table>

<br/>
<h1>Search</h1>
<form action="/search">
    word name: <input type="text" name="wordName"><br/>
    book title: <input type="text" name="title"><br/>
    author: <input type="text" name="author"><br/>
    Release Date: <input type="text" name="releaseDate"><br/>
    Language: <input type="text" name="language"><br/>
    <input type="submit" value="search">
</form>

<br/>
<h1>Word Groups</h1>
<h3>Add new group</h3>
<form action="createGroup">
    group name: <input type="text" name="groupName"><br/>
    <input type="submit" value="add">
</form>

<h3>Last groups added</h3>
{% for temp in lastGroups %}
<li>
    <a href="/group?id={{ temp[0] }}">{{ temp[1] }}</a>
</li>
{% endfor %}

<h3><a href="/groups">Show all groups</a></h3>

</body>
</html>