<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

Add new Book:
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <br/>
    <input type="submit" value="upload text">
</form>

<br/>
Last books:
<br/>

<table>
    <tr>
        <td>Name</td>
        <td>Author</td>
        <td>releaseDate</td>
        <td>Language</td>
    </tr>
{% for tempBook in lastBooks %}
    <tr>
        <td><a href="/book?id={{ tempBook[0] }}">{{ tempBook[1] }}</a></td>
        <td>{{ tempBook[2] }}</td>
        <td>{{ tempBook[3] }}</td>
        <td>{{ tempBook[4] }}</td>
    </tr>
{% endfor %}
</table>

</body>
</html>