<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>word - {{ word.wordText }}</title>
</head>
<body>


<h1>{{ word.wordText }}</h1>


{% if word.locations %}

<h3>Locations:</h3>

In book: <a href="/book?id={{ word.book.id }}">{{ word.book.title }}</a>
<br/>
<br/>

{% for temp in word.locations %}
<div style="font-size: small;">
    Word#: {{ temp.wordNumber }}, Character#: {{ temp.charLocation }}<br/>
    Paragraph#: {{ temp.paragraphNumber }}, Sentence#: {{ temp.sentenceNumber }}<br/>
    Line#: {{ temp.lineNumber }}, Word in Line#: {{ temp.wordNumberInLine }}<br/>
</div>
{% if 'cite1' in temp %}
{{ temp.cite1 }}<b>{{ temp.originalWordText }}</b>{{ temp.cite2 }}
{% endif %}

{% if 'cite' in temp %}
{{ temp.cite }}
{% endif %}

<br/>
<br/>
<br/>
{% endfor %}
{% endif %}

<br/>


{% if word.books %}

<h3>Books:</h3>

{% for temp in word.books %}
    <li><a href="/book?id={{ temp.id }}">{{ temp.title }}</a> - {{ temp.count }}</li>
{% endfor %}
{% endif %}

</body>
</html>